html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.main {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    position: relative;
    background-image: url("../assets/background.jpg");
    /*<a href="https://www.freepik.com/vectors/marble-background">Marble background vector created by Vectorium - www.freepik.com</a>*/
    text-align: center;
}

#main-border-1 {
    height: 800px;
    min-height: 450px;
    max-height: calc(100vh - 120px);
    width: 80%;
    position: relative;
    top: 50px;
    margin: auto;
    border: solid goldenrod 10px;
}

#main-border-2 {
    height: 700px;
    min-height: 350px;
    max-height: calc(100vh - 230px);
    width: 90%;
    position: relative;
    top: 50px;
    margin: auto;
    border: solid goldenrod 5px;
    text-align: center;
}

h1 {
    font-size: 120px;
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 30px;
}

#title {
    color: goldenrod;
    text-decoration: underline;
    text-shadow: 4px 4px black;
}

#desc {
    color: goldenrod;
    font-size: 30px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    text-shadow: 1px 1px black;
}

#next {
    height: 50px;
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    bottom: 0px;
    color: goldenrod;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    animation-name: below;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes below {
    from {bottom: 5px;}
    to {bottom: 0px;}
}

#info {
    padding: 0 0 100px;
    background-color: rgb(219,200,190);
    text-align: left;
}

.subtitle {
    margin: 0;
    padding: 100px 0 50px;
}

.personal-image {
    height: 350px;
    border-radius: 50%;
    float: left;
    margin: 80px 100px 0 15%;
}

.red-text {
    color: #A05050;
}

.gold-text {
    color: goldenrod;
}

.gold-text:hover {
    color: gold;
}

a {
    text-decoration: none;
}

#project {
    padding: 0 0 100px;
    text-align: center;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center; 
    grid-gap: 60px;
    padding: 0 10%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    padding: 0 0 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img {
    width: 100%;
}

.card-title {
    font-size: 25px;
}

#contact {
    background-color: rgb(219,200,190);
    padding: 0 0 50px;
    text-align: center;
}

.contact-icon {
    height: 70px;
}

#footer {
    background-color: #A05050;
    color: white;
    height: 80px;
    padding: 25px 0;
    text-align: center;
}

@media (max-width: 1200px) {
    #main-border-1 {
        max-height: calc(100vh - 170px);
    }
    
    #main-border-2 {
        max-height: calc(100vh - 280px);
    }

    h1 {
        font-size: 80px;
    }
    
    h2 {
        font-size: 60px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    h4 {
        font-size: 20px;
    }
    
    .personal-image {
        display: block;
        margin: auto;
        float: none;
    }

    #info {
        padding: 50px 0 100px;
        text-align: center;
    }

    .subtitle {
        padding: 20px 0;
    }
}